body {
    background-image: url(../images/clouds.png);
    background-size: 45%;
    background-repeat: initial;
    /* background-color: #E2EDE1;  */
    background-color: #BBCDDB;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(255, 255, 243);
    font-family: "Source Code Pro", monospace, sans-serif;
}

img {
    display: block;
}

/* hide hamburger menu list in desktop mode */
.menu {
  display: none;
}

.mobile-nav {
  display: none;
}

nav ul li .currentpage a {
    color: #BE465A;
    margin: 0;
    justify-content: center;
	  padding-bottom: 2%;
    text-decoration: underline;
    padding: 2%
}

header {
    padding-top: 2%;
    margin: auto;
}

header img {
    margin-left: 42%;
    padding-bottom: 1%;
    max-width: 100%;
    height: auto;
}

nav {
    border-bottom: 1px dotted #DD9DA7; 
    margin-left: 5%;
    margin-right: 5%;
}

nav a {
    color: black;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: center;
	padding-bottom: 2%;  
}

nav li {
    padding: 2%
}

/* hide and unhide mobile navigation */
.toggle {
	display: none;
}

.untoggle {
	display: block;
}

footer {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

/*about page*/

.about {
    display: flex;
    text-align: justify;
    padding-top: 1%;
    margin: 3%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: 1px dotted #DD9DA7; 
    margin-left: 5%;
    margin-right: 5%;   
}

.about p {
    padding-right: 3%;
    padding-top: 2%;
}

.about img {
  padding-left: 5%;
}

.about .profile {
  padding-top: 10%;
  padding-left: 10%;
}
.about #gif {
    margin: auto;
}


#aboutquote {
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#aboutquote p{
    font-family: "Handjet", monospace, sans-serif;
    font-size: x-large;
    margin: auto;
}

.features {
    display: flex;  
}

.features .awards {
        padding-left: 10%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 10%;
}

.features .awards a {
  color: black;
}

.features h1 {
    font-family: "Handjet", monospace, sans-serif;
    font-size: 200%;
}

.features img {
    padding-left: 10%;
    padding-bottom: 30%;
}

/*commissions page*/

.commissions h1 {
    font-family: "Handjet", monospace, sans-serif;
    font-size: 200%;
    text-align: center;
}

.commissions h2 {
    font-family: "Handjet", monospace, sans-serif;
    font-size: 150%;
    text-align: center;
}

.commissions {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    margin: auto;
}

.commissions p {
    padding-bottom: 5%;
    text-align: justify;
    margin: auto;
}


.table {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px dotted black;  
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.table h3 {
    text-align: center;
}

.table h4 {
    text-align: center;
    margin: auto;
}

.table p {
    text-align: center;
}

.table .c1 {
    padding-right: 4%;
    border-right: 2px dotted black;
    margin: auto;
}

.table .c2 {
    padding-right: 4%;
    padding-left: 4%;
    margin: auto;
}

.table .c3 {
    padding-left: 2%;
    border-left: 2px dotted black;
    margin: auto;
}

.table .c3 p {
    padding: 2%;
}

/*contact page*/

/*makes contact photos respond to screen width: */
.contact img { 
  max-width: 100%;
  height: auto;
}

.quote {
    text-align: center;
    padding-top: 1%;
    margin: 3%;
    padding-bottom: 3%;
    padding-right: 20%;
    padding-left: 20%;
    border-bottom: 1px dotted #DD9DA7; 
    margin-left: 5%;
    margin-right: 5%;
}

.quote h1 {
    font-family: "Handjet", monospace, sans-serif;
    font-size: xx-large;
    margin: auto;
}


.contact {
    display: flex;
    padding-top: 1%;
    padding-left: 15%;   
    padding-bottom: 10%;
    font-size: larger;
    text-align: center;
}

.contact main {
    padding-right: 15%;
    padding-left: 5%;
}

.contact aside {
    padding-right: 5%;
}

.contact ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.contact li {
    padding-left: 10%;
    padding-right: 10%;
}

.contact a {
    color: #BE465A;
}

.contact p {
    text-align: center;
}

.email {
    padding-left: 30%;
    padding-bottom: 5%;
}

/*cv page*/

.CV h1 {
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: "Handjet", monospace, sans-serif;
    font-size: xx-large;
    text-align: center;
}

.CV main {
    padding-left: 10%;
}


.resume {
    padding-top: 1%;   
    text-align: center;
    margin: auto;
}

.CV a {
    color: black;
}

.CV h2 {
    text-align: center;
    margin-right: 5%;
    font-size: larger;
}

.CV h3 {
    font-family: "Handjet", monospace, sans-serif;
    font-size:x-large;
    text-align: left;
}

.topic {
    border-bottom: 1px dotted #DD9DA7; 
    padding-bottom: 2%;
    margin-right: 5%;
}

.CV li {
    margin-bottom: 2%;
}

.resumeicon {
    padding-left: 35%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}

.resumeicon picture {
    margin: auto;
}

.CV {
    display: flex;
}

.CV aside {
    padding-right: 10%;
}
    
/*gallery page*/

/*makes gallery photos respond to screen width: */
.galleryrow img{ 
  max-width: 100%;
  height: auto;
}

.galleryrow {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
    margin: auto;
}

.galleryrow h5 {
    text-align: center;
    padding: 1%;
}

.galleryrow .r0 {
    margin: auto;
}

.galleryrow .r1 {
    margin: auto;
}

.galleryrow .r2 {
    margin: auto;
}

.galleryrow .r3 {
    padding-left: 2%;
    padding-right: 2%;
}

.galleryrow .r4 {
    margin: auto;
}

.galleryrow .r5 {
    margin: auto;
}

.notice{
    font-size: small;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

/*projects page*/

.center { display: block; margin-left: auto; margin-right: auto; } 

/*makes projects photos respond to screen width: */
.projects img { 
  max-width: 100%;
  height: auto;
  justify-content: center;
}

.projects h1 {
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: "Handjet", monospace, sans-serif;
    font-size: xx-large;
}

.projects h3 {
    font-family: "Handjet", monospace, sans-serif;
    font-size:x-large;
    text-align: center;
}

.projects main {
    padding-left: 20%;
    padding-right: 20%;
    margin: auto;
}

.projects .pic1 {
    padding-bottom: 2%;
    
}

.projects .pic1 img {
    border: 2px dotted black; 
    
}

.projects .project1 {
    border-bottom: 1px dotted #DD9DA7; 
    padding-bottom: 2%;
    margin: auto;
}

.projects .pic2 {
    padding-bottom: 2%;
}

.projects .pic2 img {
    border: 2px dotted black; 
}

.projects .project2 {
    padding-bottom: 2%;
    border-bottom: 1px dotted #DD9DA7; 
    margin: auto;
}

.projects .project3 {
    border-bottom: 1px dotted #DD9DA7; 
    padding-bottom: 2%;
    margin: auto;
}

.projects .pic3 {
    padding-bottom: 2%;
}

.projects .pic3 img {
    border: 2px dotted black; 
}

.projects .project4 {
    border-bottom: 1px dotted #DD9DA7; 
    padding-bottom: 2%;
    margin: auto;
}

.projects .pic4 {
    padding-bottom: 2%;
}

.projects .pic4 img {
    border: 2px dotted black; 
}


.projects .project5 {
    border-bottom: 1px dotted #DD9DA7; 
    padding-bottom: 2%;
    margin: auto;
}

.projects .pic5 {
    padding-bottom: 2%;
}

.projects .pic5 img {
    border: 2px dotted black; 
}

.projects .project6 {
    border-bottom: 1px dotted #DD9DA7; 
    padding-bottom: 2%;
    margin: auto;
}

.projects .pic6 {
    padding-bottom: 2%;
}

.projects .pic6 img {
    border: 2px dotted black; 
}

.projects .project7 {
    border-bottom: 1px dotted #DD9DA7; 
    padding-bottom: 2%;
    margin: auto;
}

.projects .pic7 {
    padding-bottom: 2%;
}

.projects .pic7 img {
    border: 2px dotted black; 
}



.projects a {
    color: black;
}

/*index/home page*/

.indexrow {
  display: flex;
  padding-left: 5%;
  padding-right: 15%;
}

.indexrow .indexr1 .img-container6{
  padding-bottom: 150%;
}


.indexrow .indexr1 .img-container1{
  padding-left: 40%;
}


.indexrow .indexr2 .img-container4{
  padding-bottom: 200%
}

.indexrow .indexr2 .img-container3 {
  padding-bottom: 100%;
}

.indexrow .indexr2 .img-container3 h1 {
  padding-bottom: 20%;
}

.indexrow .indexr3 {
  margin: auto;
  padding-right: 10%;
  
}

.indexrow .comm {
  padding-left: 100%;
}

.indexrow .indexr2 {
  margin: auto;
}

.indexrow .indexr3 {
  padding-top: 5%;
  padding-bottom: 25%;
}

.indexrow .indexr2 .logo{
  padding-left: 35%;
  padding-top: 35%;
}

.indexrow .indexr1 {
  padding-bottom: 10%;
  margin: auto;
}

.index h1 {
  font-family: "Handjet", monospace, sans-serif;
  font-size: 200%;
  padding-bottom: 20%;
 
}

.index a {
  color: black;
  text-decoration: none;

}

/* -----------hover icons------------- */

/* about icon */
.img-container1 {
  margin: auto;
  position: relative;
}

.img-container1 img {
  position: absolute;
  transition: opacity 0.2s ease;
}

.img-container1 img.hover-img {
  opacity: 0;
}

.img-container1:hover img.hover-img {
  opacity: 1;
}

.img-container1:hover img.default-img {
  opacity: 0;
}

/* cv icon */
.img-container2 {
  position: relative;
}

.img-container2 img {
  position: absolute;
  transition: opacity 0.2s ease;
}

.img-container2 img.hover-img {
  opacity: 0;
}

.img-container2:hover img.hover-img {
  opacity: 1;
}

.img-container2:hover img.default-img {
  opacity: 0;
}


/* gallery icon */
.img-container3 {
  position: relative;

}

.img-container3 img {
  position: absolute;
  transition: opacity 0.2s ease;
}

.img-container3 img.hover-img {
  opacity: 0;
}

.img-container3:hover img.hover-img {
  opacity: 1;
}

.img-container3:hover img.default-img {
  opacity: 0;
}

/* projects icon */
.img-container4 {
  position: relative;

}

.img-container4 img {
  position: absolute;
  transition: opacity 0.2s ease;
}

.img-container4 img.hover-img {
  opacity: 0;
}

.img-container4:hover img.hover-img {
  opacity: 1;
}

.img-container4:hover img.default-img {
  opacity: 0;
}



/* commissions icon */
.img-container5 {
  position: relative;
}

.img-container5 img {
  position: absolute;
  transition: opacity 0.2s ease;
}

.img-container5 img.hover-img {
  opacity: 0;
}

.img-container5:hover img.hover-img {
  opacity: 1;
}

.img-container5:hover img.default-img {
  opacity: 0;
}


/* contact icon */
.img-container6 {
  position: relative;
}

.img-container6 img {
  position: absolute;
  transition: opacity 0.2s ease;
}

.img-container6 img.hover-img {
  opacity: 0;
}

.img-container6:hover img.hover-img {
  opacity: 1;
}

.img-container6:hover img.default-img {
  opacity: 0;
}